@import './base.css';

#app {
  margin: 0 auto;
  overflow: hidden;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: rgb(120, 48, 201);
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    background-color: rgb(120, 48, 201);
    color: #303030;
    padding: 5px;
    border-radius: 2px;
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
  }
}
